.main-content {
    display: flex;
    justify-content: space-between;
    width: 90em;
}

.titulo {
    width: 90em;
}

.botao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2em;
    width: 60em;
}

.botao button {
    margin-right: 0.5em;
}

.exportar {
    max-width: 70vw;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
}

table {

    max-width: 90em;
    width: 100%;
    max-height: 70vh;
    height: 100%;
    min-width: 50em;
}


.ic-cell {
    max-width: 3em;
    width: 100%;
    text-align: center;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    background-color: #e2001a;

}


.mat-cell {
    padding: 8px 8px 8px 0;
    height: 2em;
}


.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: initial;
    vertical-align: middle;
}

.mat-row {
    height: 1.3em;
}

.mat-row,
.mat-header-row {
    display: table-row;
}

.mat-row:nth-child(even) {
    background-color: #FFCDD2;
}

.mat-row:nth-child(odd) {
    background-color: #FFEBEE;
}

.mat-header-cell,
.mat-cell {
    text-align: center !important;

}

th.mat-header-cell {
    text-align: center !important;
    background-color: #e2001a;
    color: #FFF;
    font-weight: bold;
}

td,
th {
    text-align: center !important;
    vertical-align: middle !important;
}

.tabela {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}


