<div class="main">
  <div class="nav bg-danger">
    <div class="custom-class nat-logo">
      <div class="natFont"></div>
    </div>
    <div class="d-grid gap-4 botoes">
        <button class="btn btn-outline-light btn-lg btn-block" type="button" (click)="ativarLinhas()"><fa-icon [icon]="faBus"></fa-icon> Linhas</button>
        <button class="btn btn-outline-light btn-lg btn-block" type="button" (click)="ativarItinerarios()"><fa-icon [icon]="faMap"></fa-icon> Itinerários</button>
        <button class="btn btn-outline-light btn-lg btn-block" type="button" (click)="ativarEmpresas()"><fa-icon [icon]="faWarehouse"></fa-icon> Empresas</button>
        <button class="btn btn-outline-light btn-lg btn-block" type="button" (click)="ativarPosicao()"><fa-icon [icon]="faLocation"></fa-icon> Posição</button>
    </div>
    
    
  </div>
  <div class="content">

    <div class="mainbus">
        <div class="onibus"></div>
        <div class="titulos">
            <h5 class="display-4">Consultas API SPTrans</h5>
            <h5 class="display-6">Confira detalhes das linhas, empresas e posição dos veículos</h5>
        </div>
        <div class="onibus2"></div>
    </div>

    <app-linhas *ngIf="linhas===true"></app-linhas>
    <app-itinerarios *ngIf="itinerarios===true"></app-itinerarios>
    <app-empresas *ngIf="empresas===true"></app-empresas>
    <app-posicao *ngIf="posicao===true"></app-posicao>

  </div>
</div>