<div class="alert alert-success" role="alert">
    <fa-icon [icon]="faLocation"></fa-icon>
    Posição dos Veículos
</div>
    
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

 
<div class="pesquisar">



      <select class="selectpicker" data-live-search="true" data-live-search-placeholder="Digite aqui para pesquisar...">
        <option value="1" data-tokens="A">Opção A1</option>
        <option value="2" data-tokens="A">Opção A2</option>
        <option value="3" data-tokens="B">Opção B1</option>
        <option value="4" data-tokens="B">Opção B2</option>
        <option value="5" data-tokens="C">Opção C1</option>
        <option value="6" data-tokens="C">Opção C2</option>
      </select>
      


    <div class="botao">
        <button *ngIf="pesquisa===undefined || pesquisa==='' || pesquisa===null" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            Pesquisar</button>
        <button *ngIf="pesquisa!==undefined && pesquisa!=='' && pesquisa!==null" type="button" class="btn btn-primary" (click)="consultaPosicaoDosVeiculos(linha)">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            Pesquisar</button>
        <button type="button" class="btn btn-success" (click)="consultaPosicaoDosVeiculosAll()">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            Pesquisar Todos</button>
        <button type="button" class="btn btn-danger" (click)="limpar()">
            <fa-icon [icon]="faTrash"></fa-icon>
            Limpar</button>
        <div *ngIf="carregando===true" class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">SPTrans - Confirmar</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>É necessário digitar o número da linha para busca na API</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal Excel -->
        <div class="modal fade" id="ModalExcel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fs-5" id="exampleModalLabel">SPTrans - Exportar</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>Sem dados a exportar para o Excel</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
            </div>
        </div>
    </div>

        
</div>

<div id="map"></div>
